# ============================================================
# CONFIGURACIÓN DE LA BASE DE DATOS
# ============================================================
# 1. Copiá este archivo y renombralo a  .env
# 2. Completá los valores con tus datos reales
# 3. NUNCA subas el archivo .env a GitHub
# ============================================================

DB_HOST=aldb.lmmsys.cl
DB_PORT=5434
DB_USER=benjamin.dominguez
DB_PASS=benjamin_dominguez
DB_NAME=benjamin_dominguez_test
